<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>A Real Developer..</title>
        <meta name="description" content="Things that a real developer should know/do/...">
        <meta name="keywords" content="developer, programmer, skillset, real">
        <link href="Style/Main.css" rel="stylesheet" type="text/css"/>   
    </head>
    <body>
        @RenderBody()
    </body>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6239073-5']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    @RenderSection("scripts", required: false)
</html>

