@{
    Layout = "~/_Master.cshtml";
}

<div id="wrapper">
    <div id="container">                                
        Oops, something went wrong.. Sorry, can you try again?               
    </div>
    <div id="push"
</div> 
<div id="footer">            
</div>
    