<!DOCTYPE html>

<html lang="en">
    @RenderPage("~/Shared/Head.cshtml")
    <body>
        <div id="wrapper">
            <div id="container">                                
                Oops, something went wrong.. Sorry, can you try again?               
            </div>
            @RenderPage("~/Shared/Push.cshtml")
        </div> 
        <div id="footer">            
        </div>
    </body>
</html>
